@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --clr-primary: white;
  --clr-fade: #c8c8c8;
  --clr-bg: #1a1a1a;
  --clr-accent: #a772ff;

  --fs-xl: clamp(3.5rem, 3vw, 12rem);
  --fs-heading: 1.25rem;
  --fs-body: 1rem;

  --gradient-shadow: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
}

* {
  margin: 0px;
  /* background-color: var(--clr-bg); */
  font-family: 'Poppins';
}

body {
  padding: 0px 8.5%;
  background-color: var(--clr-bg);
}

.Terminal-code {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.body {
  margin: 0 auto;
  max-width: 50rem;
  padding: 6.25rem 17%;
}

/* FONTS */

.headline {
  font-size: var(--fs-xl);
  color: var(--clr-primary);
  font-weight: 500;
  line-height: 118%;
  margin-bottom: 2.5rem;
}

.bodyText {
  font-size: var(--fs-body);
  color: var(--clr-primary);
  font-weight: 400;
}
.warning {
  font-size: var(--fs-body);
  color: red;
  font-weight: 400;
  margin-top: 20px;
}

.bodyTextFaded {
  font-size: var(--fs-body);
  color: var(--clr-fade);
  font-weight: 400;
}

.heading {
  font-size: var(--fs-heading);
  color: var(--clr-primary);
  margin-bottom: 1.25rem;
  /* font-weight: 500; */
}

.headingNopadding {
  font-size: var(--fs-heading);
  color: var(--clr-primary);
  /* margin-bottom: 1.25rem; */
}

.subHeadline {
  margin-bottom: 5rem;
  font-size: var(--fs-body);
  color: var(--clr-fade);
}

/* MAIN CSS */

.navbar {
  position: sticky;
  max-width: 100rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;
}

.logo {
  color: var(--clr-primary);
  display: inline-block;
}

.buttons {
  float: right;
}

.navbarButton {
  margin-left: 0.5rem;
}

span {
  color: var(--clr-accent);
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #a1a1a1;
  display: block;
  width: 465px;
  margin-top: 32px;
}

button {
  border: 0px solid transparent;

  box-shadow: 0px 0px 0px transparent;
}

.button {
  margin-top: 60px;
  width: 465px;
  height: 50px;
  background: #383838;
  border-radius: 8px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;

  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.disabledButton {
  margin-top: 60px;
  width: 465px;
  height: 50px;
  background: #222222;
  border-radius: 8px;
  color: grey;

  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.button:hover {
  background-color: transparent;
  border: 1px solid var(--clr-accent);
}

.link:hover {
  text-decoration: underline var(--clr-accent);
  cursor: pointer;
}

input {
  color: white;
}

.terminalBox {
  height: 400px;
  overflow: auto;
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  box-sizing: border-box;
  position: relative;
  /* box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25); */
  /* display: flex;
  flex-direction: column-reverse; */
}

.terminalCommands {
  margin-left: 32px;
}

.terminalHeading {
  position: absolute;
  font-weight: 500;
  color: #888;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 14px;
}

.actionButtons {
  /* position: absolute; */
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-bottom: 28px;
}

.actionButtonRed {
  height: 14px;
  width: 14px;
  background: #ee5c54;
  border-radius: 16px;
  display: inline-block;
}

.actionButtonYellow {
  height: 14px;
  width: 14px;
  background: #f8bc45;
  border-radius: 16px;
  display: inline-block;
  margin-left: 8px;
}

.actionButtonGreen {
  height: 14px;
  width: 14px;
  background: #5dc942;
  border-radius: 16px;
  display: inline-block;
  margin-left: 8px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.shadow {
  height: 400px;
  position: relative;
  background: var(--clr-bg);
}
.shadow:before,
.shadow:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--gradient-shadow);
  background-size: 400%;
  width: calc(100%);
  height: calc(100%);
  z-index: -1;
  animation: animate 20s linear infinite;
}

/* WITH BORDER */
/* .shadow:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  background: var(--gradient-shadow);
  background-size: 400%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  animation: animate 20s linear infinite;
} */

.shadow:after {
  filter: blur(2px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
