@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --clr-primary: white;
  --clr-fade: #c8c8c8;
  --clr-bg: #1a1a1a;
  --clr-accent: #a772ff;

  --fs-xl: clamp(3.5rem, 3vw, 12rem);
  --fs-heading: 1.25rem;
  --fs-body: 1rem;

  --gradient-shadow: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
}

body {
  text-align: center;
  padding: 150px;
  background-color: var(--clr-bg);
}
h1 {
  font-size: 50px;
}
body {
  font: 20px Helvetica, sans-serif;
  color: var(--clr-primary);
}
article {
  display: block;
  text-align: left;
  width: 650px;
  margin: 0 auto;
}
a {
  color: var(--clr-accent);
  text-decoration: none;
}
a:hover {
  color: var(--clr-fade);
  text-decoration: none;
}
